
<div class="header">
  <app-header></app-header>
</div>
  <div class="container-fluid" style="height: 100vh;padding: 20px;">
    <div class="row">
      <div class="col-md-12">
        <input [(ngModel)]="searchTerm" type="text" placeholder="Search Here">
      </div>
    </div>
    <div id="side-id"  style="background-color: #194954;margin-top: 20px;height:80%;border-radius: 2rem; box-shadow: 0 0 10px  rgba(0, 0, 0, 0.304);padding: 20px;">
      <div class="row" >


        <div class="container mx-auto p-4">
  <h2 class="text-2xl font-bold mb-4 text-white">Suggested Users</h2>

  <div class="grid grid-cols-2 md:grid-cols-4 gap-4">
    <!-- Suggested User 1 -->
    <div class="flex flex-col items-center">
      <img src="https://placekitten.com/100/100" alt="User Profile" class="w-16 h-16 rounded-full mb-2">
      <span class="text-sm text-white"> Kamau</span>
    </div>

    <!-- Suggested User 2 -->
    <div class="flex flex-col items-center">
      <img src="https://placekitten.com/101/101" alt="User Profile" class="w-16 h-16 rounded-full mb-2 ">
      <span class="text-sm text-white">Njoroge</span>
    </div>

    <!-- Suggested User 3 -->
    <div class="flex flex-col items-center">
      <img src="https://placekitten.com/102/102" alt="User Profile" class="w-16 h-16 rounded-full mb-2">
      <span class="text-sm text-white">Mary</span>
    </div>

    <!-- Suggested User 4 -->
    <div class="flex flex-col items-center">
      <img src="https://placekitten.com/103/103" alt="User Profile" class="w-16 h-16 rounded-full mb-2">
      <span class="text-sm text-white">Jane</span>
    </div>

    <!-- Add more suggested users as needed -->
  </div>
</div>


        <div id="{{users._id}}" routerLink="/social/profile/{{users._id}}" style="cursor: pointer;height: 80px;" class="mt-4 d-flex flex-row name-portion" *ngFor="let users of userDetails|search:searchTerm:'Name'">
         <div class="profile-pic">
                <img src="http://localhost:5000/{{users.profilepic[0].path}}" alt="">
         </div>
         <div class="profile-name ">
            <h5 >{{users.Name}}</h5>
         </div>
        </div>
      </div>
    </div>


  </div>
