<div class="container-fluid">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4 logout-portion">
           <div>
            <div class="text-center">
                <h4>Please wait while we log you out</h4>
            </div>
            <div class="text-center">
                <div style="color: #194954;" class="spinner-border mt-4" role="status">
                    
                </div>

            </div>
           </div>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>
