<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PASSWORD RESET</title>
</head>
<body>
    <table>
        <tr>
            <th>LETS GET YOU BACK TO YOUR SHOTS <%= Name %></th>
        </tr>
        <tr>
            <td>
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRxGXVaMbxLH3MZfp4hQ_GMqpWKFgpTGhek2w&usqp=CAU" alt="image">
            </td>
        </tr>
        <tr>
            <td>
                <p>Hi <%= Name %>,sorry for the inconvinience you are going through</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>this is your reset password  </p>
                <p> <%= Password %> </p>
                <p>it expires in the next one hour </p>
            </td>
        <tr>
            <td>
                <p>Sorry for any inconviniences</p>
            </td>
        </tr>
    </table>
</body>
</html>