<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
</head>
<body>
    <table>
        <tr>
            <th>WELCOME TO TALKY, 
        </tr>
        <tr>
            <td>
                <p>Hi <%= Name %>,</p>
            </td>
        </tr>
        <tr>
            <td>
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRxGXVaMbxLH3MZfp4hQ_GMqpWKFgpTGhek2w&usqp=CAU" alt="image">
            </td>
        </tr>
        <tr>
            <td>
                <p>Thank you for signing up with us</p>
            </td>
        </tr>
    </table>
</body>
</html>