<div class="header">
  <app-header></app-header>
</div>

   <div class="container-fluid">
    <div class="row">
      <div class="col-md-2 sidebar sticky-top" style="background-color: #194954;">
        <div class="sidebar-inner" style="background-color: #194954;">
            <h1>Shots</h1>

           <div >
            <button class="side-btn" routerLink="/social/home/{{userId}}"><i  class="fa-solid fa-house m-2"></i>Home</button>
           </div>
           <div>
            <button  style="box-shadow: 0 0 10px rgba(0, 0, 0, 0.34);background-color: white;color: #194954;"  routerLink="/social/uploadpost/{{userId}}"><i class="fa-solid fa-image m-2"></i>Add Shots</button>
           </div>
           <div>
            <button class="side-btn" routerLink="/social/messages/{{userId}}"><i class="fa-solid fa-message m-2"></i>Messages</button>
           </div>
           <div>
            <button class="side-btn" routerLink="/social/myprofile/{{userId}}">                    <img style="width: 40px;height: 40px;border-radius: 50%;" src="http://localhost:5000/{{profilepic}}" alt="">
              Profile</button>
           </div>
           <div>
            <button  routerLink="/social/logout/{{userId}}" class="side-btn" ><i class="fa-solid fa-right-from-bracket m-2"></i>Logout</button>
           </div>
           <div class="setting-bar" *ngIf="isSettingsShown">
            <button class="setting-btn" routerLink="/social/editprofile/{{userId}}"><i class="fa-solid fa-pen-to-square m-2"></i>Edit Profile</button>
            <button class="setting-btn mt-3"  routerLink="/social/deleteprofile/{{userId}}"  style="background-color: red;color: #ffffff;"><i class="fa-solid fa-trash m-2"></i>Delete Account</button>
        </div>
        <div>
         <button class="side-btn set-btn" id="setting" (click)="showSettings()"><i class="fa-solid fa-gear m-2"></i>Settings</button>
        </div>
        </div>
    </div>
    
    <div class="col-md-10 upload-portion text-center">
      <div class="background">
      <div class="alert alert-success" *ngIf="isAdded" role="alert" style="box-shadow: 0 0 10px black;">
        Added SuccessFully 
      </div>

      
     
      <div style="width: 100%;"  *ngIf="!isAdded "  class="text-center">
        <button class="input-btn ">
          <input  type="file" (change)="onFileSelected($event)" accept=".jpg, .jpeg, .png">
          <span class="material-symbols-outlined">
            add_photo_alternate
            </span>
        </button>
      </div>
      
      </div>
    </div>
    
    </div>
   </div>