
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

<div class="header">
    <app-header></app-header>
  </div>


<div class="container-fluid" >
    <div class="row">
        <div class="col-md-2 sidebar sticky-top">
            <div class="sidebar-inner">
                <h1>Shots</h1>

               <div >
                <button  (click)="toHome()" style="box-shadow: 0 0 10px rgba(0, 0, 0, 0.34);background-color: #ffffff;color: #194954;" ><i class="fa-solid fa-house m-2"></i>Home</button>
               </div>
               <div>
                <button (click)="addPostPage()" class="side-btn"><i class="fa-solid fa-image m-2"></i>Add Shots</button>
               </div>
              
               <div>
                <button (click)="toMessage()" class="side-btn"><i class="fa-solid fa-message m-2"></i>Messages</button>
               </div>
               <div>
                <button class="side-btn" (click)="toProfile()">
                    <img style="width: 40px;height: 40px;border-radius: 50%;" src="http://localhost:5000/{{profilepic}}" alt="">

                    Profile</button>
               </div>
               <div>
                <button class="side-btn" (click)="logOut()"><i class="fa-solid fa-right-from-bracket m-2"></i>Logout</button>
               </div>
               <div class="setting-bar" *ngIf="isSettingsShown">
                <button class="setting-btn" routerLink="/social/editprofile/{{userId}}"><i class="fa-solid fa-pen-to-square m-2"></i>Edit Profile</button>
                <button class="setting-btn mt-3"  routerLink="/social/deleteprofile/{{userId}}"  style="background-color: red;color: #ffffff;"><i class="fa-solid fa-trash m-2"></i>Delete Account</button>
            </div>
            <div>
             <button class="side-btn set-btn" id="setting" (click)="showSettings()"><i class="fa-solid fa-gear m-2"></i>Settings</button>
            </div>
            </div>
        </div>
        <div class="col-md-7 top-bar" >
            <div class="row profile" >
                <div class="profile-pic" >
                    <img class="profile-pic-img" src="http://localhost:5000/{{profileDetails.profilepic[0].path}}" alt="">
                </div>
                <div class="profile-details" >
                  <h4>{{profileDetails.Name}}</h4>
                </div>
                <div class="row mb-4" >
                    <div class="col-6" *ngIf="isSameUser">
                        <button  (click)="followUser()" *ngIf="isFollowing"  class="follow-btn">Follow</button>
                        <button (click)="unFollow()" *ngIf="unFollowBtn" class="follow-btn">Unfollow</button>
                    </div>
                    
                  
                </div>
                
               
            </div>
            <div class="row" style="margin-top: 30px;">
                <div class="col-md-12 d-flex flex-row flex-wrap main-posts">
                    <div *ngIf="noPosts" style="margin-top: 50px;text-align: center;">
                         <h4 style="color: #194954;">No posts yet</h4>
                         <span class="material-symbols-outlined mt-2">
                            no_photography
                            </span>
                    </div>
                    <div class="card" *ngFor="let post of totalPosts">
                        <img style="z-index: 99;" src="http://localhost:5000/{{post.path}}" alt="">
                    </div>
                </div>
            </div>
          
        </div>
        
        <div class="col-md-3 right-side-bar">
            <app-right-side-bar class="sticky-top"></app-right-side-bar>
        </div>
    </div>
</div>
